
:root{
  --headerFontWeight: 400;
  --themeFontBold: HelveticaNuelTPro;
  --themeFontRoman: HelveticaNuelTProRoman;
  --themeFontMd: HelveticaNuelTProMd;

  --slateDarkGray: #262626;
}
@font-face {
  font-family: 'HelveticaNuelTPro';
  src: url('/3D34FE_1B_0-35ea53df.woff2') format('woff2');
}
@font-face {
  font-family: 'HelveticaNuelTProRoman';
  src: url('/3D34FE_6_0-968a6d93.woff2') format('woff2');
}
@font-face {
  font-family: 'HelveticaNuelTProMd';
  src: url(/3D34FE_8_0-150fd52b.woff2) format('woff2');
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  height: auto;
  -webkit-text-size-adjust: 100%;
  overflow-y: scroll;
}
html,body{

  font-family: var(--themeFontRoman);
}
body{
  width: 100%;
  position: relative;

  animation: fadeIn 0.3s cubic-bezier(.645,.045,.355,1);
}
.prev-next-btn{
  padding-top: 4px !important;
  border: 1px solid black !important;
  height: 64px !important;
  width: 64px !important;
  background: transparent !important;

  transition: background 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) !important;
}
.flickity-prev-next-button.previous{
  left: 0 !important;
}
.flickity-prev-next-button.next{
  right: 0 !important;
}
.flickity-prev-next-button:disabled{
  background: transparent !important;
  opacity: 1 !important;
}

.prev-next-btn:active,.prev-next-btn:focus{
  opacity: 1 !important;
  box-shadow: none !important;
}
.prev-next-btn:hover{
  background: black !important;
}
.prev-next{
  stroke: black;
  transition: stroke 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.prev-next-btn:hover .prev-next{
  stroke: white;
}

.flickity-page-dots {
  display: block !important;
  text-align: center !important;
  position: static !important;
  height: 19px !important;
  /* padding-left: 2px !important; */
}
/* dots are lines */
.flickity-page-dots .flickity-page-dot {
  display: inline-block !important;
  height: 2px !important;
  width: 36px !important;
  margin: 0 !important;
  border-radius: 0 !important;
  background: #c1c1c1 !important;
  margin-right: 10px !important;
  margin-left: 2px !important;
}
.flickity-page-dot.is-selected{
  background: black !important;
}
.flickity-page-dot:focus{
  outline: none;
  box-shadow: none !important;
}
input[type="checkbox"]{
  -webkit-appearance: none;
  appearance: none;
  height: 16px;
  width: 16px;
  background-color: transparent;
  border-radius: 0;
  font-size: inherit;
  border: 1px solid black;
  margin-right: 10px;
}
input[type="checkbox"]:checked{
  background-color: black;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}