:root{
  --headerFontWeight: 400;
  --themeFontBold: HelveticaNuelTPro;
  --themeFontRoman: HelveticaNuelTProRoman;
  --themeFontMd: HelveticaNuelTProMd;

  --slateDarkGray: #262626;
}
@font-face {
  font-family: 'HelveticaNuelTPro';
  src: url('/3D34FE_1B_0-35ea53df.woff2') format('woff2');
}
@font-face {
  font-family: 'HelveticaNuelTProRoman';
  src: url('/3D34FE_6_0-968a6d93.woff2') format('woff2');
}
@font-face {
  font-family: 'HelveticaNuelTProMd';
  src: url(/3D34FE_8_0-150fd52b.woff2) format('woff2');
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  height: 100dvh;
  min-width: 100%;
  overflow-x: hidden;

  font-family: var(--themeFontRoman);
}
body{
  position: relative;
}