.container{
    position: sticky;
    top: 0;
    left: 0;
    height: 64px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 64px 4px 64px;
    align-items: center;

    z-index: 2;
}
.logo{
    margin-top: .2em;
}
.logoLink{
    margin-top: .2em;
}
.nav{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 24px;
    text-transform: uppercase;
    font-size: 12.3px;
    font-family: var(--themeFontMd);
    font-weight: 400;
    letter-spacing: 1px;
    -webkit-font-smoothing: antialiased;
}
.navItem{
    position: relative;
    cursor: pointer;
}
.navItem::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;

    transition: width 0.3s ease;
}
.navItem[data-color='white']::after{
    background-color: white;
}
.navItem[data-color='black']::after{
    background-color: black;
}
.navItem:hover::after{
    width: 100%;
}
.navIconContainer{
    display: flex;
    gap: 30px;
}
.navIcon{
    cursor: pointer;
}