.carouselSection{
    position: relative;
    width: 100%;
    max-width: 1680px;
    padding: 64px;
    margin: auto;
}
.carousel{
    width: 100%;
    overflow: hidden;
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    cursor: default;
}
.rowImage{
    flex: 0 0 40%;
    width: 40%;
    padding: 40px;
}
.imageWrapper{
    position: relative;
    padding-bottom: 100%;
    width: 100%;
    height: 0;
    overflow: hidden;
}
.img{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.rowContent{
    display: flex;
    flex-direction: column;
    padding: 40px;
    flex: 0 0 40%;
    width: 40%;
}
.shop{
    all: unset;
    display: table;
    border: 1px solid black;
    background-color: white;
    color: black;
    min-width: 202px;
    height: 38px;
    text-align: center;
    margin-right: auto;
    cursor: pointer;
    font-family: var(--themeFontMd);
}
.shop:hover{
    background-color: black;
    color: white;
}
.prev,.next{
    background: transparent;
    height: 64px;
    width: 64px;
    border: 1px solid black;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: background .2s cubic-bezier(0.645, 0.045, 0.355, 1);

    z-index: 10;
}
.next{
    left: unset;
    right: 64px;
}
.prev:hover,.next:hover{
    background: black;
}

.buttonSvgRight{
    transform: rotate(180deg);
}
.contentHeader{
    font-family: var(--themeFontBold);
    font-weight: 400;
    text-transform: uppercase;
    line-height: 148%;
    font-size: 16px;
    margin-bottom: 24px;
    letter-spacing: 0.1em;
}
.contentTitle{
    margin-bottom: 40px;
    font-size: 48px;
    line-height: 116%;
    -webkit-font-smoothing: antialiased;
    font-family: var(--themeFontBold);
    font-weight: 400;
}
.contentText{
    margin-bottom: 24px;
    display: block;
    line-height: 148%;
    font-size: 16px;
}

